.home-tab {
  background: linear-gradient(to bottom, #586b88 0%, #99b5d5 10%);
}

.home-tab h1 {
  color: #fcfcfc; /* Green */
  margin-bottom: 1rem;
}

.home-tab p {
  color: #283435; /* Blue-grey */
  line-height: 1.6;
} 
