.app-container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  color: #2c3e50;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: -1rem -1rem 2rem -1rem;
  width: calc(100% + 2rem);
  padding: 0;
  background-color: rgb(88, 107, 136);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 0 0 3% 1%;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 230px;
  padding: 0;
  margin-left: -46px;
  overflow: hidden;
}

.logo {
  height: 140%;
  width: auto;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 50%;
  aspect-ratio: 1;

}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 2rem;
  gap: 1rem;
}

.site-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.tabs {
  display: flex;
  gap: 1rem;

}

.tab {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffadad;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
  color: #42b883;
}

.linkedin-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: 45% 45%;
  transform: scale(1.2);
  border-radius: 4px;
  overflow: hidden;
}

.links-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transform: scale(1.2);
  border-radius: 4px;
  overflow: hidden;
}

a.tab {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

a.tab:hover .linkedin-icon {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

a.tab:hover .links-icon {
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.tab-content {
  padding: 2rem;
  background-color: white;
  border-radius: 4px;
  margin: 0 2rem;
} 