.app-container {
  width: 100%;
  min-height: 100vh;
  color: #2c3e50;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0rem;
  height: 750px;
  background: linear-gradient(to bottom, #000000 25%, #586b88 100%);
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 275px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.logo {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  aspect-ratio: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.1s ease;
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.logo-animate-fade-rotate {
  animation: fadeInRotate 1s ease-out;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}

.site-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0;
  word-spacing: 3rem;
}

.site-title span {
  display: inline-block;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin-right: 0.05em;
}

.site-title span.space {
  margin-right: 0;
  width: 1rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.tab {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffadad;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
  color: #42b883;
}

.linkedin-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: 45% 45%;
  transform: scale(1.2);
  border-radius: 4px;
  overflow: hidden;
}

.links-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transform: scale(1.2);
  border-radius: 4px;
  overflow: hidden;
}

a.tab {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

a.tab:hover .linkedin-icon {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

a.tab:hover .links-icon {
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.tab-content {
  padding: 0;
  margin: 0;
}

.moon-container {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) invert(1);
} 